@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  background: #e5e5e5;
  color: #777;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #777;
  font-weight: 300;
}
p, label {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}
a {
  color: #c5bfbf;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.btn {
  font-weight: 300;
  border: 0;
  text-align: center;
}
.btn.btn-primary {
  background-color: #3341e6;
  color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary.active {
  background-color: #1a1a7e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus {
  color: #dbd8d8;
  text-decoration: none;
  outline: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99999;
}
#main-slider {
  background-image: url(../images/bg-picture.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 100px 0;
  color: #fff;
}
#main-slider .item {
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  left: 0 !important;
  opacity: 50;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
  text-align: left;
  padding-left: 125px;
}
#main-slider .item:first-child {
  top: 20px;
  position: relative;
}
#main-slider .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 2;
}
#main-slider .item.active h1 {
  -webkit-animation: scaleUp 400ms;
  -moz-animation: scaleUp 400ms;
  -o-animation: scaleUp 400ms;
  -ms-animation: scaleUp 400ms;
  animation: scaleUp 400ms;
  text-align: center;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  margin-top: -50px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider h1 {
  font-size: 68px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.purchase-input {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  color: #333;
}

label {
  display: inline;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.predict-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #428bca;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


input{
  width:300px;
}


.predict{
  width: 15%;
  text-align: center;
  margin-left: 45%;
}

.navbar-default {
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  overflow: hidden;
}

.navbar-default .navbar-brand {
	text-align: center;
  margin-right: 50px;
  margin-left: 400px;
  
}


#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #999;
}
#footer a {
  color: #999;
}
#footer a:hover {
  color: #01679e;
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes scaleUp {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes scaleUp {
  0% {
    opacity: 0;
    -ms-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
  }
}
@-o-keyframes scaleUp {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}
